.ShowHideContainer {
  background-image: linear-gradient(to right, #fa7257, #fc63a7);
  height: 100vh;
  padding: 20pc;
  font-family: 'Roboto';
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
.show {
  background-color: white;
  color: #fc63a7;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 8px;
  padding-left: 8px;
  border-radius: 6px;
  border-width: 0px;
  margin-right: 50px;
  margin-left: 50px;
}
.names {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 31vw;
}
.firstName {
  background-color: white;
  width: 180px;
  height: 80px;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}
.LastName {
  background-color: white;
  width: 180px;
  height: 80px;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}
